.up-space {
    margin-bottom: 40px !important;
}

.space{
    margin-bottom: 20px;
}

/* begin: jQuery UI Datepicker moving pixels fix */
	table.ui-datepicker-calendar {border-collapse: separate;}
	.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

@media print{
    h3{
        font-size: 20px !important;
    }
    .no-print{
        display: none !important;
    }
}